.*.json
.cache
.cloud
.config
.config
.config
.HA_VERSION
.local
.storage
**/*.db*
**/*.log*
backups
blueprints
go2rtc*
image
watchman_report.txt
tts
nest
custom_components
www/alexa_tts
www/chime_tts
www/community
www/images/cameras
**/*secrets*